# Probability

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# plotting styles
plt.style.use("ggplot")

## Random Ball Pick Game 
### Case(1)

In [2]:
# Blue balls
blue_balls = 998
red_balls = 2

In [3]:
# random numbers generator
gen = np.random.RandomState(seed=100)
# Members Played Game Data
df_case_1 = pd.DataFrame({"Anto":gen.choice([1,0], size = 100, replace = True, p=[.998, .002]),
                          "Chandini":gen.choice([1,0], size = 100, replace = True, p=[.998, .002]),
                          "Manoj":gen.choice([1,0], size = 100, replace = True, p=[.998, .002]),
                          "Ramesh":gen.choice([1,0], size = 100, replace = True, p=[.998, .002]),
                          "Shiv":gen.choice([1,0], size = 100, replace = True, p=[.998, .002])})
df_case_1.head()

   Anto  Chandini  Manoj  Ramesh  Shiv
0     1         1      1       1     1
1     1         1      1       1     1
2     1         1      1       1     1
3     1         1      1       1     1
4     1         1      1       1     1

In [4]:
df_1 = pd.DataFrame(df_case_1.sum(), columns = ["# Total Won"])
df_1["Ttl_Playing_Cost"] = 100*100000
df_1["Net Profit"] = df_1["# Total Won"]*1000000 - df_1["Ttl_Playing_Cost"]
df_1["Ttl_Playing_Cost"] = df_1["Ttl_Playing_Cost"]/1000000
df_1["Net Profit"] = df_1["Net Profit"]/1000000
df_1.rename(columns = {"Ttl_Playing_Cost":"Ttl_Playing_Cost(in Millions)","Net Profit":"Net Profit(in Millions)"}, inplace=True)
df_1

          # Total Won  Ttl_Playing_Cost(in Millions)  Net Profit(in Millions)
Anto              100                           10.0                     90.0
Chandini           99                           10.0                     89.0
Manoj             100                           10.0                     90.0
Ramesh            100                           10.0                     90.0
Shiv              100                           10.0                     90.0

# Case 2

In [5]:
# Blue balls
blue_balls_2 = 510
red_balls_2 = 490

In [6]:
# random numbers generator
gen = np.random.RandomState(seed=100)
# Members Played Game Data
df_case_2 = pd.DataFrame({"Anto":gen.choice([1,0], size = 100, replace = True, p=[.51, .49]),
                          "Chandini":gen.choice([1,0], size = 100, replace = True, p=[.51, .49]),
                          "Manoj":gen.choice([1,0], size = 100, replace = True, p=[.51, .49]),
                          "Ramesh":gen.choice([1,0], size = 100, replace = True, p=[.51, .49]),
                          "Shiv":gen.choice([1,0], size = 100, replace = True, p=[.51, .49])})
df_case_2.head()

   Anto  Chandini  Manoj  Ramesh  Shiv
0     0         0      1       1     1
1     1         0      0       0     0
2     1         0      1       1     0
3     0         1      0       0     0
4     1         0      0       1     1

In [7]:
df_2 = pd.DataFrame(df_case_2.sum(), columns = ["# Total Won"])
df_2["Ttl_Playing_Cost"] = 100*100000
df_2["Net Profit"] = df_2["# Total Won"]*1000000 - df_2["Ttl_Playing_Cost"]
df_2["Ttl_Playing_Cost"] = df_2["Ttl_Playing_Cost"]/1000000
df_2["Net Profit"] = df_2["Net Profit"]/1000000
df_2.rename(columns = {"Ttl_Playing_Cost":"Ttl_Playing_Cost(in Million)","Net Profit":"Net Profit(in Millions)"}, inplace=True)
df_2

          # Total Won  Ttl_Playing_Cost(in Million)  Net Profit(in Millions)
Anto               55                          10.0                     45.0
Chandini           53                          10.0                     43.0
Manoj              48                          10.0                     38.0
Ramesh             55                          10.0                     45.0
Shiv               49                          10.0                     39.0

### Case 3 : Flip the situations

In [ ]:
blu = 490
red=510

In [8]:

# random numbers generator
gen = np.random.RandomState(seed=100)
# Members Played Game Data
df_case_3 = pd.DataFrame({"Anto":gen.choice([1,0], size = 100, replace = True, p=[.49, .51]),
                          "Chandini":gen.choice([1,0], size = 100, replace = True, p=[.49, .51]),
                          "Manoj":gen.choice([1,0], size = 100, replace = True, p=[.49, .51]),
                          "Ramesh":gen.choice([1,0], size = 100, replace = True, p=[.49, .51]),
                          "Shiv":gen.choice([1,0], size = 100, replace = True, p=[.49, .51])})
df_case_3.head()

   Anto  Chandini  Manoj  Ramesh  Shiv
0     0         0      1       1     1
1     1         0      0       0     0
2     1         0      1       1     0
3     0         1      0       0     0
4     1         0      0       1     1

In [10]:
df_3 = pd.DataFrame(df_case_3.sum(), columns = ["# Total Won"])
df_3["Ttl_Playing_Cost"] = 100*100000
df_3["Net Profit"] = df_3["# Total Won"]*1000000 - df_3["Ttl_Playing_Cost"]
df_3["Ttl_Playing_Cost"] = df_3["Ttl_Playing_Cost"]/1000000
df_3["Net Profit"] = df_3["Net Profit"]/1000000
df_3.rename(columns = {"Ttl_Playing_Cost":"Ttl_Playing_Cost(in Million)","Net Profit":"Net Profit(in Millions)"}, inplace=True)
df_3

          # Total Won  Ttl_Playing_Cost(in Million)  Net Profit(in Millions)
Anto               53                          10.0                     43.0
Chandini           48                          10.0                     38.0
Manoj              45                          10.0                     35.0
Ramesh             51                          10.0                     41.0
Shiv               45                          10.0                     35.0